<h2>Departments</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Department ID</th>
        <th>Department Name</th>
    </tr>
    </thead>
    <tbody>
    {{#each data}}
        <tr>
            <td><a href="/departments/{{this.did}}">{{this.did}}</a></td>
            <td>{{this.dtype}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>