Department {{depid}}

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Room ID</th>
        <th>Room Number Name</th>
        <th>Capacity</th>
    </tr>
    </thead>
    <tbody>
    {{#each data}}
        <tr>
            <td>{{this.rid}}</td>
            <td>{{this.rnum}}</td>
            <td>{{this.capacity}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>