<h2>Duties</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Day</th>
        <th>Doctor Name</th>
        <th>Department Type</th>
    </tr>
    </thead>
    <tbody>
    {{#each data}}
        <tr>
            <td><a href="/duties/{{this.day}}">{{this.day}}</a></td>
            <td>{{this.docname}}</td>
            <td>{{this.dtype}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>