

{{# if loggedin }}
    <ul class="nav nav-pills">
        <li role="presentation"><a href="/departments">Departments</a></li>
        <li role="presentation"><a href="/patients">Patients</a></li>
        <li role="presentation"><a href="/duties">Duties</a></li>
        <li role="presentation"><a href="/registry">Registries</a></li>
    </ul>
{{ else }}
    <div class="alert alert-warning" role="alert">You should log-in/register to see the data and do some actions</div>
{{/if}}


{{#if message }}
    <div class="alert alert-success" role="alert">{{message}}</div>
{{/if}}

{{#if warning }}
<div class="alert alert-warning" role="alert">{{warning}}</div>
{{/if}}

