{{#if err }}
    <div class="alert alert-danger" role="alert">{{err}}</div>
{{/if}}

<div class="input-group">
<form action = "/loginPost" method = "post">
    <b>User Login-In </b></br>
    <b>Email: </b><br>
    <input class="form-control" type="email" name="email" size="15" maxlength="40" value="" required><br>
    <b>Password: </b><br>
    <input class="form-control" type="password" name="pass" size="15" maxlength="30" value="" required><br>
    <input class="form-control" name="login" type="submit" value="Submit!" style="margin-top: 10px;">
</form>
</div>