<h2>Patients</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Patient Name</th>
        <th>Room Number</th>
        <th>Department Type</th>
        <th>Doctor Name</th>
    </tr>
    </thead>
    <tbody>
    {{#each data}}
        <tr>
            <td>{{this.pname}}</td>
            <td>{{this.rnum}}</td>
            <td>{{this.dtype}}</td>
            <td>{{this.docname}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>