<h2>Registries</h2>

{{#if message}}
    <div class="alert alert-warning" role="alert">{{message}}</div>
{{/if}}


<table class="table table-bordered">
    <thead>
    <tr>
        <th>Registry ID</th>
        <th>Patient ID</th>
        <th>Doctor ID</th>
        <th>Room ID</th>
    </tr>
    </thead>
    <tbody>
    {{#each data}}
        <tr>
            <td>{{this.regid}}</td>
            <td>{{this.patid}}</td>
            <td>{{this.docid}}</td>
            <td>{{this.roomid}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>

<div class="input-group">
<form action="/registryPost" method="post">
    <b>Registry CREATE DELETE UPDATE</b></br>
    <b>ID: </b><br>
    <input class="form-control" type="text" name="regid" placeholder="Create(empty)/Update/Delete" ><br>
    <b>Patient ID: </b><br>
    <input class="form-control" type="text" name="patid"><br>
    <b>Doctor ID: </b><br>
    <input class="form-control" type="text" name="docid" ><br>
    <b>Room ID: </b><br>
    <input class="form-control" type="text" name="roomid"><br>
    <input class="form-control" name="login" type="submit" value="Submit!" style="margin-top: 10px;">
</form>
</div>