{{#if err }}
    <div class="alert alert-danger" role="alert">{{err}}</div>
{{/if}}

<div class="input-group">
<form action = "registrationPost" method = "post">
    <b>User Registration</b><p>
    <b>First Name</b><br>
    <input class="form-control" type="text" name="name1" size="15" maxlength="25" value="" required><br>
    <b>Second Name</b><br>
    <input class="form-control" ype="text" name="name2" size="15" maxlength="25" value="" required><br>
    <b>Faculty</b><br>
    <input class="form-control" type="text" name="facult" size="15" maxlength="25" value="" required><br>
    <b>Email</b><br>
    <input class="form-control" type="email" name="email" size="15" maxlength="40" value="" required><br>
    <b>Password</b><br>
    <input class="form-control" type="password" name="pass" size="15" maxlength="30" value="" required><br>
    <input class="form-control" style="margin-top: 10px;" type="submit" value="Submit!">
</form>
</div>
